<nav class="navbar navbar-light navbar-expand-sm bg-primary fixed-top">
  <div class="container">
    <a href="#"class="navbar-brand">Purrter</a>
    <ul class="navbar-nav">
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <%= link_to(user_avatar(current_user, class: "nav-profile-img"), '#', 
            "data-toggle" => "dropdown") %>
          <div class="dropdown-menu">
            <a class="dropdown-item" href='<%= user_url(current_user) %>'>Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="btn btn-light"><i class="fas fa-plus"></i> Purr</button>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>