<% if current_user.id == @user.id %>
  <a href='<%= edit_user_registration_path @user %>' class="btn btn-outline-primary ml-auto d-block">Edit Profile</a>
<% else %>
  <%= render "shared/follow_button.html.erb" %>
<% end %>