<div class="landing-hero d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-6 text-white">
        <h1>Welcome to Purrter</h1>
        <p class="h4 font-weight-light">Find out what's cattening, right now, with friends and other
          cool cats that you care about.</p>
      </div>
      <div class="col-6">
        <div class="card">
          <h5 class="card-title">Log in</h5>
          <p class="card-body"></p>
        </div>
      </div>
    </div>
  </div>
</div>